<header class="header-professionals">
  <div class="main">
    <div class="header-content">
      <div class="header-content-inner">
        <h1>Profissionais</h1>
        <div class="intro-lead-in">Mais de 100 diferentes profissionais a sua disposição!</div>
        <hr>
      </div>
    </div>
  </div>
</header>