<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @professional.client_id %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
