<header class="header-default-sm">
  <div class="main">
    <div class="header-content">
      <div class="header-content-inner">
        <h1>Shopping Carts</h1>
        <div class="intro-lead-in">comprando...</div>
        <hr>
      </div>
    </div>
  </div>
</header>