<p id="notice"><%= notice %></p>

<h2>Items no carrinho:</h2><p/>
<%= render 'list_items', cart_items: @cart_items %>

<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
