<p id="notice"><%= notice %></p>

<h2>Items no carrinho:</h2><p/>
<%= render 'list_items', cart_items: @cart_items %>

<%= link_to 'Seguir comprando', products_path %> |
<%= link_to 'Seguinte paso', products_path %>
