<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Organize sua festa rápidamente</h2>
        <!--<h3 class="section-subheading text-muted">.....</h3>-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <%= image_tag "welcome/about/1.jpg", class: "img-circle img-responsive", alt: "" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <!--<h4>---</h4>-->
                <h4 class="subheading">Passo 01</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Selecione seu CEP ou endereço</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag "welcome/about/2.jpg", class: "img-circle img-responsive", alt: "" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Passo 02</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Selecione seu restaurante preferido</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag "welcome/about/3.jpg", class: "img-circle img-responsive", alt: "" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Passo 03</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">O restaurante entrega na sua porta ou você pode retirar no local!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag "welcome/about/4.jpg", class: "img-circle img-responsive", alt: "" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Passo 04</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Avalie sua experiência e nos ajude a melhorar</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Comparta
                <br>sua
                <br>experiência</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>