<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Temos o que você precisa!</h2>
        <hr class="light">
        <p class="text-faded">O EasyHost é uma plataforma onde os caters poderão conectar-se facilmente aos clientes interessados em se tornarem anfitriões de jantares, festas e eventos em geral, onde poderão encontrar profissionais de qualidade.
        <br>A gente vai procurar para você o mercado de profissionais de catering.
          Nossas principais vantagens são a comodidade em achar um profissional de qualidade em um aplicativo de fácil uso, segurança na entrega e um preço mais justo que de buffets de festas.
        </p>
        <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
      </div>
    </div>
  </div>
</section>

