<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Aumente o faturamento do seu restaurante, cadastre sua empresa!</h2>
      <a href="#" class="btn btn-default btn-xl wow tada">Quero ser parceiro!</a>
    </div>
  </div>
</aside>

