<!-- Header -->
<header class="header-welcome">
  <div class="main">

    <div class="header-content">
      <div class="header-content-inner">
        <h1>Bem vindo a EasyHost!</h1>
        <!--<hr>-->
        <div class="intro-lead-in">Sua festa mais fácil!</div>
        <div class="shell">
          <div class="box box1" id="box1-address">
            <h2>Os melhores serviços de catering perto de você</h2>
            <%custom_path=products_path%>
            <% if client_signed_in? %>
                <%custom_path=new_event_path%>
            <% end %>
            <%= form_tag(custom_path, method: :get, class:"search clearfix") do %>
                <%= text_field_tag :cep, params[:cep], type:"tel", id:"cep",
                                   size:"40", maxlength:"9", placeholder:"Digite aqui seu CEP",
                                   onkeyup:"removeNonNumber(this)" %>
                <%= submit_tag 'Procurar serviços', cep:nil , class:"buscarCep submitCep"%>
                <p>Não sabe seu <strong>CEP</strong>? <a class="next" id="buscaCepPorEndereco">Clique aqui</a></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
