<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Organize sua festa fácilmente</h2>
        <h3 class="section-subheading text-muted">com rapidez e com segurança</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Passo 01</h4>
        <p class="text-muted">Selecione seu CEP ou endereço.</p>
      </div>
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Passo 02</h4>
        <p class="text-muted">Selecione seu profissional(is) preferido.</p>
      </div>
      <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-motorcycle fa-stack-1x fa-inverse"></i>
                    </span>
        <h4 class="service-heading">Passo 03</h4>
        <p class="text-muted">O profissional entrega perto de você!.</p>
      </div>
    </div>
  </div>
</section>

