<h1>Bem vindo</h1>

<%= form_for :welcome, :url => {:action => :redirect } do |f| %>
    <%= f.collection_select(:category_product_id, CategoryProduct.all, :id, :name, {:prompt => "Select"}, {:class => 'col-md-1'}) %>
    </br>
    <%= f.submit %>
<% end %>
