<h1>Bem vindo</h1>

<%# TODO: Find out how to get this id %>
<%= collection_select(:category_product, :id, CategoryProduct.all, :id, :name, {:prompt => "Select"}, {:class => 'col-md-1'}) %>
</br>
<%= link_to "Filtrar", products_path(:category => 1) %>
