<h1>New Payment</h1>
<h3>This will be just a payment simulation</h3>
<%= render 'form', payment: @payment, shopping_cart: @shopping_cart %>

<%= link_to 'Continuar', products_path %>|
<%= link_to 'Back',  shopping_cart_path(@shopping_cart)%>
