<header class="header-products">
  <div class="main">
    <div class="header-content">
      <div class="header-content-inner">
        <h1>Nossos serviços</h1>
        <div class="intro-lead-in">Mais de 100 tipos de produtos a sua disposição!</div>
        <hr>
      </div>
    </div>
  </div>
</header>