<footer class="footer" >
  <div class="shell">
    <div style="text-align: center; width: 100%">
      <p style="text-align: center; width: 100%">
        © Copyright 2016 - EasyHost - Todos os direitos reservados
      </p>
    </div>
  </div>

</footer>