<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category_product.name %>
</p>

<%= link_to 'Edit', edit_category_product_path(@category_product) %> |
<%= link_to 'Back', category_products_path %>
